.TopContainer{
  background-color: #fce8d5;
text-align: center;
height: 300px;
padding-top: 130px;
text-shadow: 2px 2px red;


}
/*hr{

   border-color: red;
   border-width: thick;
  border-style: dotted none none none;
display: inline;
  width: 10%;
}*/
.shahjee{
display: inline;
color: #581c0c;
text-decoration-color: initial;

}
#first {
  display: inline;
 position: absolute;
  left: 420px;
  text-align:left;
  border-color: #ffcd3c;
  width: 15%;
  border-width: thick;
  border-style: dotted none none none;
}
#second {
  display: inline;
 position: absolute;
  right: 420px;
  text-align:left;
  border-color: #ffcd3c;
  width: 15%;
  border-width: thick;
  border-style: dotted none none none;
}
body{
  margin: 0;
}
.MiddleContainer{
margin-left: 300px;
      width: 260px;
      height: 250px;
      background-color: blue;
      /* border: 20px; */
      border: solid 20px;
      padding: 50px;
  background-color: blue;
}
.BottonContainer{
  width: 500px;
    height: 250px;
    background-color: red;
    border: solid 15px;
    padding: 20px;
    padding-left: 40px;
  background-color: red;
  margin-left: 700px;
}
